<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="stylesheet" href="/css/dashboard.css" />
</head>
<body>
    <h1>Welcome, Dr. <span><%= doctor_id %></span>!</h1>
    <p>Choose a hospital to view the patients under your treatment.</p>

    <div class="container">
        <div class="hospital-list">
            <h2 style="color: black;">Hospitals</h2>
            <div class="card-container">
                <% hospitals.forEach(hospital => { %>
                    <div class="card" onclick="redirectToPatients('<%= hospital.hospital_id %>')">
                        <i class="fas fa-hospital"></i>
                        <span><%= hospital.hospital_name %></span>
                        <p style="color: black;">Click to view patients being treated at this hospital.</p>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

    <script>
        function redirectToPatients(hospitalId) {
            window.location.href = `/doctor-patient-records/${hospitalId}`;
        }
    </script>
</body>
</html>
